python-dotenv
ipykernel
pandas
langchain
langchain-community
langchain-text-splitters
sentence_transformers
langchain_huggingface
langchain_chroma
langchain-openai
langchain_groq
openai
pypdf
pymupdf
bs4
arxiv
wikipedia
chromadb
faiss-cpu
duckdb
streamlit